<div	class="row">
<div	class="col-md-6 col-lg-6 well">
<form [formGroup]="addUserForm" name="addUserForm" (ngSubmit)="onSubmit(addUserForm)"  >
    <h1> {{ title }} </h1>
    <fieldset>
            <legend>User</legend>
            <div class="form-group">
                <label>Name</label>
                <input formControlName="name" [(ngModel)]="user.name" type="text" class="form-control"  required/>
                    <div *ngIf="addUserForm.controls.name.touched && addUserForm.controls.name.errors" > 
                        <div  class="alert alert-danger" *ngIf="addUserForm.controls.name.errors.required">
                          Username is required.
                        </div>
                    </div>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input formControlName="email" [(ngModel)]="user.email" type="text" class="form-control" />
                  <div *ngIf="addUserForm.controls.email.touched && addUserForm.controls.email.errors" > 
                        <div  class="alert alert-danger" *ngIf="addUserForm.controls.email.errors.validEmail">
                          Email Invalid.
                        </div>
                        <div  class="alert alert-danger" *ngIf="addUserForm.controls.email.errors.required">
                          Email is required.
                        </div>
                    </div>
            </div>
            <div class="form-group">
                <label>Phone</label>
                <input formControlName="phone"  [(ngModel)]="user.phone" type="text" class="form-control"/>
            </div>
    </fieldset>
    <fieldset formGroupName="address">
            <legend>Address</legend>
             <div class="form-group">
                <label>Street</label>
                <input formControlName="street" [(ngModel)]="user.address.street" type="text" class="form-control"/>
            </div>
             <div class="form-group">
                <label>Suite</label>
                <input formControlName="suite" [(ngModel)]="user.address.suite" type="text" class="form-control"/>
            </div>
             <div class="form-group">
                <label>City</label>
                <input formControlName="city" [(ngModel)]="user.address.city" type="text" class="form-control"/>
            </div>
             <div class="form-group">
                <label>ZipCode</label>
                <input formControlName="zipcode" [(ngModel)]="user.address.zipcode" type="text" class="form-control"/>
            </div>
    </fieldset>
     <Button type="submit" class="btn btn-primary" [disabled]="!addUserForm.valid" > Add </Button>
</form> 
</div>
</div>